#
# APPLICATION
#
# default. do not change
NODE_PATH=./

# DEVELOPMENT PORT
# PORT - default. own preference might be used
PORT = 3001

REACT_APP_SOCKET_SERVER=localhost
REACT_APP_SOCKET_SERVER_PORT=3002
