@import 'src/styles/colors';
@import 'src/styles/mixins';

.textArea {
  @include border;
  color: rgba(0, 0, 0, 0.87);
  font-family: sans-serif;
  font-size: 100%;
  background: $white;
  width: 100%;
  line-height: 1.29;
  margin: 0 0 1rem 0;
  padding: 0.75rem 1rem;
  outline: 0;
  resize: vertical;
}
