:local(.form-line) {
    padding: 10px;
    input {
        display: block;
        width: 100%;
    }
}

:local(.form-title) {
    font-weight: bold;
}

:local(.form-button) {
    display: flex;
    justify-content: flex-end;
}
