@import './_variables.scss';

@mixin main-text {
    font-size: 15px;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-color;
}

@mixin title-text {
    @include main-text;
    font-size: 21px;
}

@mixin additional-text {
    @include main-text;
    font-size: 11px;
    color: $secondary-text-color;
}

@mixin code {
    @include main-text;
    font-family: "Courier New", monospace;
}
