:local(.root) {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    border: 1px solid #a3a3a3;
    textarea {
        margin: 10px 0 0 0;
        min-width: 500px;
        min-height: 100px;
        resize: none;
    }
    button {
        margin: 10px 0;
        display: flex;
        align-self: flex-end;
        margin-right: 50px;
    }
}
