@import 'src/styles/colors';
@import 'src/styles/mixins';

.uiSegment {
  @include border;

  font-size: 1rem;
  background: $white;
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0 1px 2px 0 $light-shadow;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
