.inputWrapper {
  display: flex;
  flex-direction: column;
}

.errorWrapper {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-top: 3px;
  min-height: calc(0.8rem + 3px);
  color: #df1c3d;
  align-self: flex-start;
}
