@import 'src/globalStyles/_variables.scss';
@import 'src/globalStyles/_text.scss';

:local(.root) {
    border: 1px solid $border-color;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
}

:local(.text) {
    @include main-text;
}

:local(.additional-info) {
    @include additional-text;
}
