:local(.root) {
    display: flex;
    flex-direction: column;
}
:local(.add-post-wrapper),
:local(.thread-wrapper) {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

:local(.posts) {
    display: block;
    width: 800px;
}
