@import 'src/styles/_variables.scss';

:local(.root) {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        background-color: transparent;
        border: 0;
        border-radius: 4px;
    }
}

:local(.title) {
    width: 100%;
    display: flex;
    justify-content: center;
}

:local(.active) {
    display: none;
}
