.inputContainer {
  display: inline-flex;
  position: relative;
}

.icon {
  min-width: 1.4rem;
  opacity: 0.5;
  padding-left: 0.6rem;
  position: absolute;
  text-align: center;
  top: 0.55rem;

  & > i {
    margin: 0;
  }
}

.input {
  background-color: white;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 0.25rem;
  box-shadow: none;
  font-weight: 400;
  outline: none;
  padding: 0.6rem 1rem;

  &.withIcon {
    padding: 0.6rem 1rem 0.6rem 2rem;
  }

  &:disabled {
    opacity: 0.45;
  }
}
