@import 'src/styles/colors';
@import 'src/styles/mixins';

.inputContainer {
  display: inline-flex;
  position: relative;
}

.icon {
  min-width: 1.4rem;
  opacity: 0.5;
  padding-left: 0.6rem;
  position: absolute;
  text-align: center;
  top: 0.55rem;
}

.input {
  @include border;

  background-color: $white;
  box-shadow: none;
  font-weight: 400;
  outline: none;
  padding: 0.6rem 1rem;
  width: 100%;

  &.withIcon {
    padding: 0.6rem 1rem 0.6rem 2.2rem;
  }

  &:disabled {
    opacity: 0.45;
  }
}
